.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
    /* outline: 1px solid red; */
}

.blue {
    width: 150px;
    height: 50px;
    background-color: blue;
    border-radius: 10px;
    color: white;
    font-size: 120%;
}
.value {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 30px;
}

h1 {
    margin-left: 125px;
}

.library {
    border: 3px solid black;
    padding: 10px 20px 20px 20px;
    width: 265px;
    margin-bottom: -3px;
    margin-left: 400px;
}

.add {
    width: 150px;
    height: 50px;
    background-color: turquoise;
    border-radius: 10px;
    color: white;
    font-size: 120%;
    margin-left: 500px;
    margin-bottom: 10px;
}

.header {
    margin-left: 255px;
}

.plusSign {
  width: 56px;
  height: 56px;
  background-color: #fff;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.bar {
  margin: 0 auto;
  position: absolute;
  background-color: LimeGreen;
}

.horizontal {
  width: 70%;
  height: 20%;
  left: 15%;
  top: 40%;
}

.vertical {
  width: 20%;
  height: 70%;
  left: 40%;
  top: 15%;
}

.circle {
    border-radius: 50%;
    box-sizing: border-box;
    padding: 8px 10px;
    font-size: 30px;
    width: 58px;
    height: 58px;
    border: 3px solid black;
    display: inline-block;
    vertical-align: middle;
}
